*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    background: none;
    border: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mac{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
}

.app {
    height: 100vh;
    padding: 1rem;
    background-color: papayawhip;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 10px;
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;
    color: #fff;
    background-color: rgb(74, 74, 74);
}

.btn:hover {
    transform: scale(1.1);
    background-color: mediumaquamarine;
    box-shadow: rgb(82, 254, 96) 0px 14px 28px;
}

